// ==========================================================================
// Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
@import "layout/index";

// ==========================================================================
// Modules
// ==========================================================================
@import "modules/index";

// ==========================================================================
// States
// ==========================================================================
@import "states/index";

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //align-content: center;
    gap: 10px;
}

footer p {
    border: 1px solid black;
    text-align: center;
    flex-grow: 1;
    min-width: 225px;
}