// ==========================================================================
// Utilities
// ==========================================================================
@import "utilities/index";

// ==========================================================================
// Base Styles
// ==========================================================================
@import "base/index";

// ==========================================================================
// Layout Styles
// ==========================================================================
@import "layout/index";

// ==========================================================================
// Modules
// ==========================================================================
@import "modules/index";

// ==========================================================================
// States
// ==========================================================================
@import "states/index";

footer {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    //align-content: center;
    gap: 10px;
    max-width: 768px;
}

footer ul {
    border: 1px solid black;
    flex-grow: 1;
    //min-width: 225px;
    text-align: left;
    li {
        list-style-type: none; 
    }
}
