// ==========================================================================
// Base Styles
// ==========================================================================
* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
}

a {
    padding: 0;
    width: inherit;
    color: inherit;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.wrapper {
    padding: 15px;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm) {
        max-width: $wrapper-sm;
    }
    @media (min-width: $breakpoint-md) {
        max-width: $wrapper-md;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: $wrapper-lg;
    }
}

.wrapper90pc {
    width: 90%;
    margin: auto;
}

ul {
    padding: 0;
}



.hidden {
    display: none;
}

.hide-sm {
    @media (min-width: $breakpoint-sm) {
        display: none;
    }
}
.show-sm {
    @media (min-width: $breakpoint-sm) {
        display: inherit;
    } 
}

.hide-md {
    @media (min-width: $breakpoint-md) {
        display: none;
    } 
}
.show-md {
    @media (min-width: $breakpoint-md) {
        display: inherit;
    } 
}

.show-lg {
    @media (min-width: $breakpoint-lg) {
        display: inherit;
    }   
}
.hide-lg {
    @media (min-width: $breakpoint-lg) {
        display: none;
    } 
}