// ==========================================================================
// Base Styles
// ==========================================================================
* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.4px;
}

.wrapper {
    padding: 15px;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm) {
        max-width: $breakpoint-sm - 18px;
    }
    @media (min-width: $breakpoint-md) {
        max-width: $breakpoint-md - 22px;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: $breakpoint-lg - 60px;
    }
}

ul {
    padding: 0;
}



.hidden {
    display: none;
}

.hide-sm {
    @media (min-width: $breakpoint-sm) {
        display: none;
    }
}
.show-sm {
    @media (min-width: $breakpoint-sm) {
        display: inherit;
    } 
}

.hide-md {
    @media (min-width: $breakpoint-md) {
        display: none;
    } 
}
.show-md {
    @media (min-width: $breakpoint-md) {
        display: inherit;
    } 
}

.show-lg {
    @media (min-width: $breakpoint-lg) {
        display: inherit;
    }   
}
.hide-lg {
    @media (min-width: $breakpoint-lg) {
        display: none;
    } 
}