// ==========================================================================
// Header Layout
// ==========================================================================


.header {   //using a class instead so that the header may include nav for sticky header
    background-color: $color-header-bg;
    color: $color-tuna;

    .flex-container {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
        > * {
            text-align: center;
        }
        > :last-child {
            padding-right: 0;
        }
    }
}

.btn {
    &.phone {
        font-size: 32px;
        padding: 10px;
        &:hover {
            color: darken($color-tuna, 10%);
        }
    }
    &.support {
        white-space: nowrap;
        @include btn($color-white, $color-it-support, 18px, 10px, $hover: true);
    }
    &.contact {
        white-space: nowrap;
        @include btn($color-white, $color-grey, 18px, 10px, $hover: true);
    }
    &.fa-bars {
        @include btn($color-white, $color-tuna, 32px, 10px, $hover: true);
    }
    &.fa-magnifying-glass {
        @include btn($color-white, $color-grey, 32px, 10px, $hover: true);
        @media (min-width: $breakpoint-sm) AND (max-width: ($breakpoint-md - 1)),   // At screen width 768-991
        (min-width: $breakpoint-lg) {                                               // OR 1260+
            border-radius: 0 3px 3px 0;                                                 // Square off the corners that connect to the search box
        }
    }
}

.searchbar {
    position: relative;
    input.wide {
        margin-top: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #E5E5E5;
    }
}

#search1 button {
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 0;
    width: 44px;
    height: 44px;
    background-color: transparent;
}

.logo {
    margin-right: auto;
    max-width: 402px;
    @media (min-width: $breakpoint-sm) and (max-width: ($breakpoint-md - 1)) {  // At screen width 768-991
        max-width: 345px;                                                           // Cap the logo size to allow bigger search bar
    }
    img {
        width: inherit;
    }
}

//remove padding to let the icon inside take up the full area.
button {
    padding: 0;
    border-width: 0;
}

