// ==========================================================================
// News Layout
// ==========================================================================

.offices {
    @include section("offices");

    @include h1-viewall();

    h2 {
        font-size: 2.25em; //36px
        font-weight: 400;
    }

    h3 {
        font-size: 1.125em;
        font-weight: 400;
    }

    li {
        font-size: 0.8125em; // 14px
        font-weight: 400;
        color: darken($color-grey, 10%);
    }

    p {
        font-size: 1.625em;
        font-weight: 700;
        color: $color-wisteria;
    }


    .office-image {       // resize image to be 100% of its container width
        width: 100%;
    }

    .icon {
        float: left;
        padding: 20px;
        padding-left: 0;    // remove left padding to keep in line with margins
    }

    hr {
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid lighten($color-grey, 20%);
    }


    .flex-container {       // flex container for news cards
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
    }

    .office-item {        // flex items for news cards
        border-radius: 0 0 15px 15px;
        flex: 1 0;
        border: 1px solid lighten($color-grey, 20%);
        margin-top: 15px;
        box-shadow:0 0 40px darken(white, 10%);
        position: relative;
        transition: top 0.5s;   // transition effect
        top: 0;                 // transition startpoint
        &:hover {
            top: -10px;         // transition endpoint
        }
        > div {
            margin: 30px;
        }
    }

    .news-card:hover {
        text-decoration: none;      // remove hover underline from the card
    }

    .btn {
        @include btn($color-white, $color-wisteria, $hover: true);
    }

}


.contact {

    border-radius: 15px;

    .flex-container {       // flex container for news cards
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-lg) {        // At screen width ?+
            flex-direction: row-reverse;                        // Change direction (from column) to row
        }
    }

    .flex-item {        // flex items for news cards
        // flex: 1 0;
        border: 1px solid lighten($color-grey, 20%);
        margin-top: 15px;
        &:first-child {
            flex: 1 0;
        }
        &:last-child {
            border-radius: 15px;
            background-color: $color-alto;
            @media (min-width: $breakpoint-lg) {
                width: 770px;
            }
        }
    }

    .flex-form {
        margin: 30px;
        display: flex;
        flex-flow: row wrap;
        // justify-content: center;
        gap: 30px;
        > div {
            width: 100%;
            &.half {
                width: calc(50% - 15px);
            }
            .right {
                float: right;
            }
        
        }
        #enquiry {
            @include btn($color-white, $color-wisteria, $hover: true);
        }
    }
}