// ==========================================================================
// News Layout
// ==========================================================================

.offices {
    @include section("offices");

    @include h1-viewall();

    h2 {
        font-size: 2.25em; //36px
        font-weight: 400;
    }

    h3 {
        font-size: 1.125em;
        font-weight: 400;
    }

    li {
        font-size: 0.8125em; // 14px
        font-weight: 400;
        color: darken($color-grey, 10%);
    }

    p {
        font-size: 1.625em;
        font-weight: 700;
        color: $color-wisteria;
    }


    .news-image {       // resize image to be 100% of its container width
        width: 100%;
    }

    .icon {
        float: left;
        padding: 20px;
        padding-left: 0;    // remove left padding to keep in line with margins
    }

    hr {
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid lighten($color-grey, 20%);
    }


    .flex-container {       // flex container for news cards
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
    }

    .office-item {        // flex items for news cards
        border-radius: 0 0 15px 15px;
        flex: 1 0;
        border: 1px solid lighten($color-grey, 20%);
        margin-top: 15px;
        box-shadow:0 0 40px darken(white, 10%);
        position: relative;
        transition: top 0.5s;   // transition effect
        top: 0;                 // transition startpoint
        &:hover {
            top: -10px;         // transition endpoint
        }
        > div {
            margin: 30px;
        }
    }

    .news-card:hover {
        text-decoration: none;      // remove hover underline from the card
    }

    .btn {
        @include btn($color-white, $color-wisteria, $hover: true);
    }

}



.news-footer .flex-footer-container{                          // flex container for the news footer (clients)
    margin: 30px 10px;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    gap: 40px;
    img {
        width: 100%;            // resize images to be the size of its container
        filter: grayscale(1);   // greyscale filter by default
        &:hover {
            filter: none;       // remove filter on hover
        }
    }
    > div {                             // each flex item 
        position: relative;
        &:hover {
            .arrow, .box {
                display: block;         // on hover show the arrow and box classes for this group
            }
        }
    }
    
    $arrow-width: 100px;                                    // define width of the arrow
    $box-width: 240px;                                      // define width of the box
    .arrow {
        position: absolute;
        height: 0;
        left: calc(50% - (#{$arrow-width} / 2));            // center: place it in the middle of the relative then offset by half the width of itself
        width: $arrow-width;
        bottom: calc(100% + 15px);                          // place it on the top edge of the relative, plus an extra 15px
        border-left: ($arrow-width / 2) solid transparent;
        border-right: ($arrow-width / 2) solid transparent;
        border-top: ($arrow-width / 2) solid;
    }
    .box {
        position: absolute;
        bottom: calc(100% + (#{$arrow-width} / 2) + 15px);  // place it on the top edge of the relative, plus half the width of arrow plus an extra 15px          
        width: $box-width;
        left: calc(50% - (#{$box-width} / 2));              // center: place it in the middle of the relative then offset by half the width of itself
        background-color: $color-tuna;
        text-align: center;
        h4, p, hr {
            margin: 15px 0;
            padding: 0 10px;
            color: $color-white;
        }
        h4 {
            font-size: 1.125em; // 18px
        }
        hr {
            border-width: 3px;
            width: 1%;
            margin: 0 auto;
        }
    }
}