// ==========================================================================
// Header Layout
// ==========================================================================

.header {
    background-color: $color-header-bg;
    color: $color-tuna;

    .fa-phone {
        font-size: 32px;
        padding: 10px;
    }

    .btn.support {
        white-space: nowrap;
        @include btn($color-white, $color-it-support, 18px, 10px);
        @include btn-hover($color-it-support);
    }

    .btn.contact {
        white-space: nowrap;
        @include btn($color-white, $color-grey, 18px, 10px);
        @include btn-hover($color-grey);
    }

    .btn.fa-bars {
        @include btn($color-white, $color-tuna, 32px, 10px);
        @include btn-hover($color-tuna);
    }
    .btn.fa-magnifying-glass {
        @include btn($color-white, $color-grey, 32px, 10px);
        @include btn-hover($color-grey);
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1),
        (min-width: $breakpoint-lg) {
            border-radius: 0 3px 3px 0;
        }
    }

    button {
        padding: 0;
        border-width: 0;
    }

    #search1 button {
        position: absolute;
        font-size: 20px;
        top: 10px;
        right: 0;
        width: 44px;
        height: 44px;
        background-color: transparent;
    }
    
    .search {
        position: relative;
        input.wide {
            margin-top: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            background: #E5E5E5;
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        width: 100%;
        > * {
            padding: 10px;
            text-align: center;
        }
        > :last-child {
            padding-right: 0;
        }
    }

    .logo {
        padding:0 10px 0 0 ;
        margin-right: auto;
        max-width: 402px;
        img {
            width: inherit;
            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
                max-width: 345px;
            }
        }
    }
}