// ==========================================================================
// Nav Layout
// ==========================================================================

nav {
    @include section-colors("nav");

    position: relative;
    display: none;

    @media (min-width: $breakpoint-md) {    // At screen width 992+
        display: block;                         // Unhide the NAV section
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: left;
    }
   

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin: -15px 0;
        .nav-top {
            padding: 15px 0;
        }
        @each $service, $color in $service-colors {
            .#{$service} {
                width: 100%;
                > a > div > i {
                    padding-bottom: 10px;
                    font-size: 23px;
                    @include icon($service);
                }
                > a {
                    text-decoration: none;
                }
                &:hover {
                    background: $color;
                    i::before {
                        color: $color-white;
                    }
                    .arrow-down {
                        display: inherit;
                        border-top-color: $color;
                    }
                    .nav-panel {
                        display: inherit;
                        background: darken($color, 10%);
                    }
                }
            }
        }
    }
    .nav-flex {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        margin-bottom: 20px;
        a {
            text-align: left;
            flex: 1 0;
            min-width: 30%;
            line-height: 1.1em;

            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            align-items: center;
            &:hover {
                text-decoration: none;
                p {
                    text-decoration: underline;
                }
            }
            p, i {
                font-size: 19.2px;
            }
            p {
                flex: 1 0;
                margin: 0;
            }
        }
    }


    .arrow-down {
        position: absolute;
        z-index: 1;
        @media (max-width: ($breakpoint-lg - 1)) {      // At screen width 1-1259
            $w: ($wrapper-md - 30px) / 7;                   // Calculate triangle for medium width layout
            width: $w; 
            bottom: -$w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid;
        }
        @media (min-width: $breakpoint-lg) {            // At screen width 1260+
            $w: ($wrapper-lg - 30px) / 7;                   // Calculate triangle for large width layout
            width: $w; 
            bottom: -$w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid;
        }
    }
    
    .nav-panel {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
    }
}

.nav-top {
    text-align: center;
    ul {
        text-transform: uppercase;
        line-height: 1em;
        :first-child {
            font-size: 10px;
        }
        :last-child {
            font-size: 18px;
        }
    }
}