// ==========================================================================
// Nav Layout
// ==========================================================================

.nav {
    @include section-colors("nav");

    position: relative;

    .flex-container {       // Main nav flexbox for the 7 hover buttons/panels
        padding: 0 15px;         // remove the top and bottom padding that wrapper added
        display: flex;
        justify-content: space-around;
        @each $service, $color in $service-colors {
            .#{$service} {
                width: 100%;
                .nav-top i {    // only icons from the nav-top section
                    padding-bottom: 10px;
                    @include icon($service, 1.4375em); // 23px
                }
                &:hover {
                    background: $color;
                    a {
                        text-decoration: none;  // remove the underline effect from all nav links
                    }
                    i::before {
                        color: $color-white;    // set the hovered nav icon to white
                    }
                    .nav-arrow {
                        display: inherit;           // unhide the arrow
                        border-top-color: $color;       // and set its color
                    }
                    .nav-panel {
                        display: inherit;                   // unhide the nav panel
                        background: darken($color, 10%);        // and darken it
                    }
                }
            }
        }
    }

    .flex-inner-container {     // inner nav flexbox for all the links inside nav panels
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        margin-bottom: 20px;
        a {                     // each <a> is also a flex box to help align the icon
            text-align: left;
            flex: 1 0;
            min-width: 30%;                 // force 3 items per row
            line-height: 1.1em; // 17.6px   // remove the gap between multi-line <p> links

            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            align-items: center;

            &:hover p {     // put the hover underline effect on the <p> only
                text-decoration: underline;
            }
        }
        p {                 // let the <p> tags grow to fill the remainder of the area
            flex: 1 0;
            margin: 0;
        }
        i {                 // fix the icon areas so that the <p> all start in line
            width: 20px;
        }
        i, p {
            font-size: 1.2em; // 19.2px
        }
    }
}

.nav-arrow {
    position: absolute;
    z-index: 1;                                 // put this above the panel
    @media (max-width: ($breakpoint-lg - 1)) {      // At screen width 1-1259
        $w: (($wrapper-md - 30px )/ 7);                   // w is equal to ($wrapper-md minus wrapper padding(15x2)) divided by 7
        width: $w; 
        bottom: -$w / 4 + 1;
        height: 0;
        border-left: $w / 2 solid transparent;
        border-right: $w / 2 solid transparent;
        border-top: $w / 4 solid;
    }
    @media (min-width: $breakpoint-lg) {            // At screen width 1260+
        $w: (($wrapper-lg - 30px) / 7);                   // w is equal to ($wrapper-lg minus wrapper padding(15x2)) divided by 7
        width: $w; 
        bottom: -$w / 4 + 1;
        height: 0;
        border-left: $w / 2 solid transparent;
        border-right: $w / 2 solid transparent;
        border-top: $w / 4 solid;
    }
}

.nav-top {                  // for styling the top nav part without affecting the panel
    padding: 15px 0;            // added a negative margin in flex-container so that they could be added as padding here so that it goes inside the <a>
    text-align: center;
    ul {
        text-transform: uppercase;
        line-height: 1em;       // reduce the gap between the two words on nav buttons
        :first-child {
            font-size: 0.625em; // 10px
        }
        :last-child {
            font-size: 1.125em; // 18px
        }
    }
}

.nav-panel {               // for styling the nav panel only
    position: absolute;         // relative to the nav element
    left: 0;                    // right up against the left side of viewport
    width: 100%;                // take up full width of viewport
    top: 100%;                  // place the top 100% away from the top of the nav so that it begins right where the nav ends
}

