// ==========================================================================
// Carousel Layout
// ==========================================================================

.carousel {
    height: 550px;


    background-color: $color-carousel-bg;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/carousel.jpg);
    @media (min-width: $breakpoint-md) {
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url(../img/carousel.jpg);
    }
    background-size: cover;

    color: $color-white;

    text-align: center;

    .flex-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-size: 40px;
        margin: 0;
        width: 100%;
        @media (min-width: $breakpoint-md) {
            font-size: 64px;
            text-align: left;
        }
    }

    p {
        font-size: 20px;
        font-weight: 600;
        width: 100%;
        margin: 10px 0;
        @media (min-width: $breakpoint-md) {
            font-size: 26px;
            text-align: left;
        }
    }

    .button {
        @include btn($color-white, $color-bespoke-software, 20px, 5px, 20px);
        @include btn-hover($color-bespoke-software);
        margin-top: 30px;
        line-height: 50px;
        @media (min-width: $breakpoint-md) {
            margin-right: auto;
        }
    }
}