// ==========================================================================
// Carousel Layout
// ==========================================================================

.owl-theme .owl-nav {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-theme .owl-nav [class*='owl-'] {
    color: #FFF;
    font-size: 14px;
    margin: 5px;
    padding: 4px 7px;
    background: #D6D6D6;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none;
}
.owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
}

.owl-theme .owl-dots {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    bottom: 75px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.owl-theme .owl-dots .owl-dot span {
    width: 11px;
    height: 11px;
    margin: 5px 10px;
    // background: #D6D6D6;
    background: grey;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #869791;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: white;
}



.carousel {

    .btn {
        margin-top: 30px;
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            margin-right: auto;                     // Align to the left
        }
    }

    @include section("carousel");

    &.netmatters {
        @include carouselbg("netmatters");
        .btn {
            @include btn($color-white, map-get($service-colors, "bespoke-software"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.bespoke-software {
        @include carouselbg("bespoke-software");
        .btn {
            @include btn($color-white, map-get($service-colors, "bespoke-software"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.it-support {
        @include carouselbg("it-support");
        .btn {
            @include btn($color-white, map-get($service-colors, "it-support"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.digital-marketing {
        @include carouselbg("digital-marketing");
        .btn {
            @include btn($color-white, map-get($service-colors, "digital-marketing"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.telecoms-services {
        @include carouselbg("telecoms-services");
        .btn {
            @include btn($color-white, map-get($service-colors, "telecoms-services"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.web-design {
        @include carouselbg("web-design");
        .btn {
            @include btn($color-white, map-get($service-colors, "web-design"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }
    &.cyber-security {
        @include carouselbg("cyber-security");
        .btn {
            @include btn($color-white, map-get($service-colors, "cyber-security"), 1.25em, 5px, 20px, true);
            line-height: 2.5em; // 50px(/20px)
        }
    }

    background-size: cover;
    text-align: center;

    .flex-container {
        min-height: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        line-height: 1.25em; // 80px(/64px)
        margin: 0;
        width: 100%;
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            font-size: 4em; // 64px                 // Bump the font size up
            text-align: left;                       // and align to the left
        }
    }

    p {
        font-size: 1.25em; // 20px
        font-weight: 600;
        width: 100%;
        margin: 10px 0;
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            font-size: 1.625em; // 26px             // Bump the font size up
            text-align: left;                       // and align to the left
        }
    }

}