// ==========================================================================
// Carousel Layout
// ==========================================================================

.carousel {
    @include section("carousel");

    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../img/carousel.jpg);              // Apply a 50% darken to the whole background
    @media (min-width: $breakpoint-md) {                                                                            // At screen width 992+
        background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0)), url(../img/carousel.jpg);        // Fade in black from black on the left side
    }

    background-size: cover;
    text-align: center;

    .flex-container {
        min-height: 550px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        line-height: 1.25em; // 80px(/64px)
        margin: 0;
        width: 100%;
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            font-size: 4em; // 64px                 // Bump the font size up
            text-align: left;                       // and align to the left
        }
    }

    p {
        font-size: 1.25em; // 20px
        font-weight: 600;
        width: 100%;
        margin: 10px 0;
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            font-size: 1.625em; // 26px             // Bump the font size up
            text-align: left;                       // and align to the left
        }
    }

    .btn {
        @include btn($color-white, map-get($service-colors, "bespoke-software"), 1.25em, 5px, 20px, true); // 20px
        margin-top: 30px;
        line-height: 2.5em; // 50px(/20px)
        @media (min-width: $breakpoint-md) {    // At screen width 992+
            margin-right: auto;                     // Align to the left
        }
    }
}