// ==========================================================================
// Services Layout
// ==========================================================================

.services {
    background-color: $color-services-bg;
    color: $color-tuna;

    ul {
        a{
            text-align: center;
            list-style-type: none;
            text-decoration: none;
        }
    }

    i {
        font-size: 32px;
    }

    h1 {        // #TODO: MERGE (DUPLICATE IN NEWS)
        margin: 0;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            float: left;                                // Float the header left
        }
    }

    .viewall {  // #TODO: MERGE (DUPLICATE IN NEWS)
        text-align: center;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            text-align: right;                          // Align the view-all button to the right
        }
    }

    a {
        color: $color-tuna;
    }
    
    @each $service, $color in $service-colors {
        .#{$service} {
            display: flex;
            flex-direction: column;
            align-items: center;
            .btn {
                margin-top: auto;
                @include btn($color-white, $color);
            }
        }
    }

    
    .flex-container {
        margin: 0;
        display: flex;
        flex-flow: column wrap;
        gap: 0 30px;
        &:first-of-type {                               // first set of 3
            @media (min-width: $breakpoint-md) {        // At screen width 992+
                flex-direction: row;                        // Change direction (from column) to row
            }
        }
        &:last-of-type {                                                                        // last set of 4
            .flex-item {
                @media (min-width: $breakpoint-sm) AND (max-width: ($breakpoint-lg - 1)) {        // At screen width 768-1259
                    min-width: 40%;                                                                     // Make sure not to place 3 items on a single row
                }
            }
            @media (min-width: $breakpoint-sm) {                                                  // At screen width 768+
                flex-direction: row;                                                                    // Change direction (from column) to row
            }
        }
    }
    .flex-item {
        position: relative;
        transition: top 0.5s, background-color 0.5s, color 0.5s;
        top: 0;

        margin: 15px 0;
        flex: 1 0;
        border: 1px solid lightgrey;
        border-radius: 15px;
        padding: 25px;
        box-shadow:0 0 40px darken(white, 10%);

        @each $service, $color in $service-colors {
            &.#{$service} {
                &:hover {
                    top: -10px;
                    background-color: $color;
                    color: $color-white;
                    i::before {
                        color: $color;
                        background-color: $color-white;
                    }
                    .btn {
                        @include btn($color, $color-white);
                    }
                    h3 {
                        color: $color-white;
                    }
                }

            }
        }
    }

    .services-footer {
        display: flex;
        overflow: hidden;
        width: 100%;
        justify-content: space-around;
        gap: 100px;
        margin-top: 30px;
        margin-bottom: 50px;
        .services-footer-item {
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0);
            }
        }
    }
}
