// ==========================================================================
// Testimonials Layout
// ==========================================================================

.testimonials {
    @include section-colors("testimonials");
    line-height: 30px;

    .wrapper {                  // using the wrapper class as a flex container
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
        .flex-item {
            flex: 1 0;
        }
    }

    h2 {
        margin-bottom: 40px;
    }
    
    p {
        font-size: 16px;
        margin-bottom: 25px;
        &:first-of-type {           // make first <p> bold
            font-weight: bold;
        }
    }

    .fa-star {
        font-size: 50px;
        color: $color-star;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        p {
            font-size: 20.8px;
        }
    }
    cite {
        font-size: 17.6px;
        font-weight: bold;
        font-style: normal;
        color: $color-grey;
    }

    .btn {
        &.more {
            @include btn($color-white, darken($color-tuna, 5%), 20px, 10px, 30px, true);
            border-radius: 6px;     // uses smoother corners than the mixin
        }
        &.google {
            @include btn($color-white, darken(map-get($service-colors, "it-support"), 5%), 20px, 10px, 30px, true);
            border-radius: 6px;     // uses smoother corners than the mixin
            margin: 4px;
            margin-top: 55px;       // margin between google button and content
        }
        &.trustpilot {
            @include btn($color-white, darken(map-get($service-colors, "digital-marketing"), 5%), 20px, 10px, 30px, true);
            border-radius: 6px;     // uses smoother corners than the mixin
            margin: 4px;
            margin-top: 20px;       // margin between trustpilot button and google button
            margin-bottom: 40px;    // margin between trustpilot button and end of section
        }
    }
}