// ==========================================================================
// Testimonials Layout
// ==========================================================================

.testimonials {
    background-color: $color-testimonials-bg;
    color: $color-white;
    line-height: 30px;

    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
        .flex-item {
            flex: 1 0;
        }
    }

    h2 {
        margin-bottom: 40px;
    }
    p {
        font-size: 16px;
        margin-bottom: 25px;
        &:first-of-type {
            font-weight: bold;
        }
    }

    .fa-star {
        font-size: 50px;
        color: $color-star;
    }

    blockquote {
        margin-left: 0;
        margin-right: 0;
        font-style: italic;
        p {
            font-size: 20.8px;
        }
    }
    cite {
        font-size: 17.6px;
        font-weight: bold;
        font-style: normal;
        color: $color-grey;
    }

    .btn {
        &.more {
            @include btn($color-white, darken($color-tuna, 5%), 20px, 10px, 30px, true);
            border-radius: 6px;
        }
        &.google {
            @include btn($color-white, darken($color-it-support, 5%), 20px, 10px, 30px, true);
            border-radius: 6px;
            margin: 4px;
            margin-top: 55px;
        }
        &.trustpilot {
            @include btn($color-white, darken($color-digital-marketing, 5%), 20px, 10px, 30px, true);
            border-radius: 6px;
            margin: 4px;
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
}