// ==========================================================================
// News Layout
// ==========================================================================

.news {
    background-color: $color-news-bg;
    color: $color-tuna;

    .news-image {
        width: 100%;
    }

    .icon {
        float: left;
        padding: 20px;
        padding-left: 0;
    }

    hr {
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid lighten($color-grey, 20%);
    }

    ul {
        list-style-type: none;
        margin: 30px;
        li {
            font-size: 14px;
            &:first-child {
                font-weight: bold;
            }
        }
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            flex-direction: row;                        // Change direction (from column) to row
        }
        @media (min-width: $breakpoint-sm) AND (max-width: ($breakpoint-lg - 1)) {      // At screen width 768-1259
            .news-item:last-of-type {                                                       // Hide the 3rd news card
                display: none;
            }
        }
    }

    .news-item {
        flex: 1 0;
        border: 1px solid lighten($color-grey, 20%);
        margin-top: 15px;
        margin-bottom: 30px;
        box-shadow:0 0 40px darken(white, 10%);
        position: relative;
        transition: top 0.5s;
        top: 0;
        &:hover {
            top: -10px;
        }
    }

    .newstag {
        text-transform: uppercase;
        position: absolute;
        top: 10px;
        right: 0;
        padding: 2px 10px;
        font-size: 12px;
        font-weight: 600;
        color: $color-white;
        &:hover {
            text-decoration: underline;
        }
    }

    .news-footer {
        margin: 30px 10px;
        display: flex;
        justify-content: space-around;
        max-width: 100%;
        gap: 40px;
        img {
            width: 100%;
            filter: grayscale(100%);
            &:hover {
                filter: inherit;
            }
        }
        .news-footer-item {
            position: relative;
            &:hover {
                .arrow, .box {
                    display: inherit;
                }
            }
            .arrow {
                position: absolute;
                height: 0;
                left: calc(50% - 50px);
                $w: 100px;
                width: $w; 
                left: calc(50% - ($w / 2));
                bottom: calc(100% + 15px);
                border-left: $w / 2 solid transparent;
                border-right: $w / 2 solid transparent;
                border-top: $w / 2 solid;
            }
            .box {
                position: absolute;
                bottom: calc(100% + 65px);
                $w: 240px;
                width: $w;
                left: calc(50% - (#{$w} / 2));
                background-color: $color-tuna;
                text-align: center;
                h4, p, hr {
                    margin: 15px 0;
                    padding: 0 10px;
                    color: $color-white;
                }
                h4 {
                    font-size: 18px;
                }
                hr {
                    border-width: 3px;
                    width: 1%;
                    margin: 0 auto;
                }
            }
        }
    }

    @include h1-viewall();

    .news-item h4 {
        min-height: 48px;
    }

    p {
        color: darken($color-grey, 20%);
    }

    @each $class, $color in $service-colors {
        .#{$class} {
            .button {
                @include btn($color-white, map-get($service-colors, $class));
            }
            h4 {
                color: map-get($service-colors, $class);
            }
            .newstag {
                background-color: map-get($service-colors, $class);
            }
        }
    }

    a:hover {
        text-decoration: none;
    }

}