// ==========================================================================
// Email Layout
// ==========================================================================

.email {
    @include section-colors("email");

    label {
        font-size: 1em; // 16px
        font-weight: 600;
    }

    input[type=text] {      // style for text boxes only
        height: 47px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .flex-container {       // flex container for the name and email form parts
        display: flex;
        flex-direction: column;
        gap: 10px 30px;
        > div {             // flex items
            flex: 1 0;
        }
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
    }

    .checkboxwrapper {
        display: flex;
        #checkbox {             // style the checkbox
            cursor: pointer;
            align-self: center; 
            width: 32px;
            height: 32px;
            margin-right: 20px;
            &:checked {
                accent-color: $color-tuna;      // color when checked
            }
            &:focus {
                outline: none;  // remove dotted outline from checkbox
            }
        }
        label {
            cursor: pointer;
            flex: 1 0;      // make the label dynamic so that the checkbox size can remain fixed.
            a {
                text-decoration: underline;
            }
        }
    }


    #subscribe {
        @include btn($color-white, $color-tuna, $hover: true);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label.required::after {      // inject a rose asterix after the labels with a required class
        content: ' *';
        color: $color-chestnut-rose;
    }
}