// ==========================================================================
// Email Layout
// ==========================================================================

.email {
    background-color: map-get($background-colors, "email");
    color: $color-tuna;

    label {
        font-size: 16px;
        font-weight: 600;
    }
    input[type=text] {
        height: 47px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    #checkbox {
        float: left;
        margin: auto;
        width: 32px;
        height: 32px;
        margin-right: 20px;
        &:checked {
            accent-color: $color-tuna; 
        }
    }
    .checkbox {
        cursor: pointer;
    }

    .checkboxwrapper {
        margin-left: 50px;
    }


    #subscribe {
        @include btn($color-white, $color-tuna, $hover: true);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label a {
        text-decoration: underline;
    }

    .required::after {
        content: ' *';
        color: $color-chestnut-rose;
    }

    .email-flex-container {
        display: flex;
        flex-direction: column;
        gap: 10px 30px;
        > div {
            flex: 1 0;
        }
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
    }
}