// ==========================================================================
// Email Layout
// ==========================================================================

.email {
    background-color: $color-email-bg;
    color: $color-tuna;

    label {
        font-size: 16px;
        font-weight: 600;
    }
    input[type=text] {
        height: 47px;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    // input[type=checkbox] {
    //     // float: left;
    //     width: 32px;
    //     height: 32px;
    //     &:active {
    //         background-color: red;
    //     }
    // }

    #checkbox {
        float: left;
        margin: auto;
        width: 32px;
        height: 32px;
        margin-right: 20px;
        &:checked {
            accent-color: $color-tuna; 
        }
    }
    .checkbox {
        cursor: pointer;
    }

    .checkboxwrapper {
        margin-left: 50px;
    }


    #subscribe {
        @include btn($color-white, $color-tuna);
        @include btn-hover($color-tuna);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    label a {
        text-decoration: underline;
    }

    .required::after {
        content: ' *';
        color: $color-chestnut-rose;
    }

    .email-flex-container {
        @media (min-width: $breakpoint-md) {
            display: flex;
            gap: 30px;
            > div {
                flex: 1 0;
            }
        }
    }
}