// ==========================================================================
// Newsletter Layout
// ==========================================================================

.newsletter {
    @include section("newsletter");

    h2 {
        font-weight: 400;
    }

    label {
        font-size: 1em; // 16px
        font-weight: 600;
    }

    input[type=text] {      // style for text boxes only
        border-radius: 2px;
        height: 47px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .flex-container {       // flex container for the name and email form parts
        display: flex;
        flex-direction: column;
        gap: 10px 30px;
        > div {             // flex items
            flex: 1 0;
        }
        @media (min-width: $breakpoint-md) {        // At screen width 992+
            flex-direction: row;                        // Change direction (from column) to row
        }
    }

    .checkboxwrapper {
        display: flex;
        #checkbox {             // style the checkbox
            display: none;
        }

        #checkbox + *::before {
            cursor: pointer;
            margin-right: 20px;
            padding: 5px;
            content: "";
            display: inline-block;
            width: 1rem;
            height: 1rem;
            border-radius: 3px;
            border-style: solid;
            border-width: 3px;
            border-color: $color-tuna;
        }

        #checkbox:checked + *::before {
            content: "\f00c";
            color: white;
            text-align: center;
            background: $color-tuna;
            border-color: $color-tuna;
          }
          #checkbox:checked + * {
            color: $color-tuna;
          }

        .checkbox-label {
            cursor: pointer;
            flex: 1 0;      // make the label dynamic so that the checkbox size can remain fixed.
            a {
                text-decoration: underline;
            }
        }
    }


    #subscribe {
        @include btn($color-white, $color-tuna, $hover: true);
        margin-top: 20px;
        margin-bottom: 35px;
    }

    label.required::after {      // inject a rose asterix after the labels with a required class
        content: ' *';
        color: $color-chestnut-rose;
    }
}