// ==========================================================================
// Cookies Layout
// ==========================================================================

.cookies {

    .btn {
        &.settings, &.detailed, &.cancel {
            @include btn(white, $color-grey, $font-size: 1.0625em, $padding1: 5px, $padding2: 15px, $hover: true);
        }
        &.accept, &.active {
            @include btn(white, $color-wisteria, $font-size: 1.0625em, $padding1: 5px, $padding2: 15px, $hover: true);
        }
        &.inactive {
            @include btn($color-grey, $color-white, $font-size: 1.0625em, $padding1: 5px, $padding2: 15px, $hover: false);
            border: 1px solid lighten($color-grey, 30%);
        }
        &.detailed {
            margin-bottom: 10px;
        }
    }

    color: $color-tuna;
    p, li {
        color: lighten($color-tuna, 20%);
    }
    h2 {
        font-size: 2.25em;
        font-weight: 400;
    }
    h3 {
        font-size: 1.625em;
    }
    h4 {
        font-weight: bold;
    }
    a {
        color: $color-tuna;
    }

    &.popup {
        
        .btn {
            margin: 10px;
            width: calc(100% - 40px);
            @media(min-width: $breakpoint-sm) {
                width: calc(50% - 30px);
            }
        }

        border-radius: 4px;

        width: calc(100% - 60px);
        z-index: 10;    /* Whatever needed to force to front (1 might do) */

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;

       
        h3, p, hr {
            margin: 0;
        }
        h3{
            padding: 15px 20px;
        }
        p {
            padding: 20px;
            margin-bottom: 20px;
            font-size: 1em;
            color: lighten($color-tuna, 20%);
        }
        hr {
            border: none;
            border-bottom: 1px solid lighten($color-grey, 30%);
        }


        .buttons {
            text-align: center;
            margin: 10px 0;
        }


        @media(min-width: $breakpoint-sm) {
            width: 600px;
        }
    }

    &.settings {
        overflow: auto;

        z-index: 10;

        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        
        background-color: white;

        p {
            font-size: 0.875em;
        }

        .buttons {
            margin-bottom: 30px;
            &.final {
                margin-top: 40px;
            }
        }


        ul {
            margin-bottom: 10px;
        }

        li {
            list-style-type: disc;
            margin-left: 20px;
        }

        table {
            width: 100%;
            
            .buttons {
                margin: 0;
            }
            th, td {
                padding: 15px;
                border: 1px solid white;
            }
            th {
                text-align: left;
                color: $color-white;
                background-color: $color-grey;
            }
            td {
                background-color: lighten($color-grey, 20%);
            }
        }

        @media (min-width: $breakpoint-md) {
            .buttons {
                text-align: right;
            }
        }
    }

}