// ==========================================================================
// Footer Layout
// ==========================================================================

footer {
    background-color: $color-footer-bg;
    color: white;
    h4 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
    }
    ul {
        li{
            text-align: left;
            list-style-type: none;
            font-size: 13px;
        }
    }
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        @media (min-width: $breakpoint-lg) {
            justify-content: space-between;
        }
    }
    .flex-both {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        @media (min-width: $breakpoint-sm) {
            width: 100%;
            justify-content: space-evenly;
        }
        @media (min-width: $breakpoint-lg) {
            width: inherit;
        }
    }
    .flex-item {
        width: 225px;
    }
    .bottom {
        display: flex;
        margin-bottom: 0;
        padding-bottom: 2em;
        justify-content: space-between;
        font-size: 13px;
    }
    
}