// ==========================================================================
// Header Layout
// ==========================================================================

.header {
    background-color: $color-header-bg;
    color: $color-tuna;

    .fa-phone {
        font-size: 32px;
        padding: 10px;
    }

    .btn.support {
        white-space: nowrap;
        @include btn($color-white, $color-it-support, 18px, 10px);
        @include btn-hover($color-it-support);
    }

    .btn.contact {
        white-space: nowrap;
        @include btn($color-white, $color-grey, 18px, 10px);
        @include btn-hover($color-grey);
    }

    .btn.fa-bars {
        @include btn($color-white, $color-tuna, 32px, 10px);
        @include btn-hover($color-tuna);
    }
    .btn.fa-magnifying-glass {
        @include btn($color-white, $color-grey, 32px, 10px);
        @include btn-hover($color-grey);
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1),
        (min-width: $breakpoint-lg) {
            border-radius: 0 3px 3px 0;
        }
    }

    .search {
        position: relative;
        input {
            font-size: 14px;
            width: 100%;
            padding-left: 15px;
            border: 1px solid lighten($color-grey, 20%);
            color: darken($color-grey, 30%);
            box-shadow: inset 0 0 1px 1px rgba(0,0,0,.075);
            &.wide {
                margin-top: 10px;
                padding-top: 10px;
                padding-bottom: 10px;
                background: #E5E5E5;
            }
        }
        .wide-btn {
            font-size: 20px;
            position: absolute;
            top: 13px;
            right: 10px;
        }
    }

    .flex-container {
        display: flex;
        align-items: center;
        width: 100%;
        > * {
            padding: 10px;
            text-align: center;
        }
        > :last-child {
            padding-right: 0;
        }
    }

    .logo {
        margin-right: auto;
        max-width: 402px;
        img {
            padding:0 10px 0 0 ;
            width: inherit;
            @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1) {
                max-width: 345px;
            }
        }
    }
}