// ==========================================================================
// Nav Layout
// ==========================================================================

nav {
    display: none;
    background-color: $color-nav-bg;
    color: $color-white;

    @media (min-width: $breakpoint-md) {
        display: block;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin: 0;

        @each $service, $color in $icon-colors {
            .#{$service} {
                position:relative;
                width: 100%;
                padding-top: 15px;
                margin-top: -15px;
                padding-bottom: 15px;
                margin-bottom: -15px;
                &:hover {
                    background: $color;
                    i::before {
                        color: $color-white;
                    }
                    .arrow-down {
                        display: inherit;
                    }
                }
            }
        }
    }


    .arrow-down {
        position: absolute;
        @media (max-width: $breakpoint-lg - 1) {
            $w: ($wrapper-md - 30px) / 7;
            width: $w; 
            bottom: - $w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid $color-bespoke-software;
        }
        @media (min-width: $breakpoint-lg) {
            $w: ($wrapper-lg - 30px) / 7;
            width: $w; 
            bottom: - $w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid $color-bespoke-software;
        }
    }

    i {
        padding-bottom: 10px;
        font-size: 23px;
    }

     li {
        text-align: center;
        list-style-type: none;
        line-height: 1em;
        ul {
            text-transform: uppercase;
            :first-child {
                font-size: 10px;
            }
            :last-child {
                font-size: 18px;
            }
        }
    }


}