// ==========================================================================
// Nav Layout
// ==========================================================================

nav {
    display: none;
    background-color: $color-nav-bg;
    color: $color-white;

    @media (min-width: $breakpoint-md) {
        display: block;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin: 0;

        @each $service, $color in $icon-colors {
            .#{$service} {
                &:hover {
                    background: $color;
                    i::before {
                        color: $color-white;
                    }
                    .arrow-down {
                        display: inherit;
                    }
                }
            }
        }
    }

    .arrow-down {
        position: absolute;
        width: 0; 
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 25px solid $color-bespoke-software;
    }

    i {
        padding-bottom: 10px;
        font-size: 23px;
    }

     li {
        text-align: center;
        list-style-type: none;
        line-height: 1em;
        ul {
            text-transform: uppercase;
            :first-child {
                font-size: 10px;
            }
            :last-child {
                font-size: 18px;
            }
        }
    }


}