// ==========================================================================
// Nav Layout
// ==========================================================================

nav {
    position: relative;
    display: none;
    background-color: $color-nav-bg;
    color: $color-white;

    @media (min-width: $breakpoint-md) {
        display: block;
    }

    h1 {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: left;
        font-size: 32px;
        font-weight: 500;
    }

    a {
        width: inherit;
        margin: 0;
        padding: 0;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin: 0;
        @each $service, $color in $icon-colors {
            .#{$service} {
                width: 100%;
                padding-top: 15px;
                margin-top: -15px;
                padding-bottom: 15px;
                margin-bottom: -15px;
                > i {
                    padding-bottom: 10px;
                    font-size: 23px;
                }
                &:hover {
                    background: $color;
                    i::before {
                        color: $color-white;
                    }
                    .arrow-down {
                        display: inherit;
                        border-top-color: $color;
                    }
                    .nav-panel {
                        display: inherit;
                        background: darken($color, 10%);
                    }
                }
            }
        }
    }
    .nav-flex {
        display: flex;
        flex-flow: row wrap;
        gap: 30px;
        margin-bottom: 20px;
        a {
            text-align: left;
            font-size: 19.2px;
            flex: 1 0;
            min-width: 30%;
            line-height: 1.1em;

            display: flex;
            flex-flow: row wrap;
            gap: 15px;
            align-items: center;
            p {
                flex: 1 0;
                margin: 0;
            }
        }
    }


    .arrow-down {
        position: absolute;
        z-index: 1;
        @media (max-width: $breakpoint-lg - 1) {
            $w: ($wrapper-md - 30px) / 7;
            width: $w; 
            bottom: -$w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid;
        }
        @media (min-width: $breakpoint-lg) {
            $w: ($wrapper-lg - 30px) / 7;
            width: $w; 
            bottom: -$w / 4 + 1;
            height: 0;
            border-left: $w / 2 solid transparent;
            border-right: $w / 2 solid transparent;
            border-top: $w / 4 solid;
        }
    }
    
    .nav-panel {
        position: absolute;
        left: 0;
        width: 100%;
        top: 100%;
    }

    li {
        text-align: center;
        list-style-type: none;
        line-height: 1em;
        > ul {
            text-transform: uppercase;
            :first-child {
                font-size: 10px;
            }
            :last-child {
                font-size: 18px;
            }
        }
    }


}