// ==========================================================================
// News Layout
// ==========================================================================

.news {
    background-color: $color-news-bg;
    color: $color-tuna;

    .news-image {
        width: 100%;
    }

    .icon {
        float: left;
        padding: 20px;
        padding-left: 0;
    }

    hr {
        margin-top: 30px;
        border: none;
        border-bottom: 1px solid lighten($color-grey, 20%);
    }

    ul {
        list-style-type: none;
        margin: 30px;
        li {
            font-size: 14px;
            &:first-child {
                font-weight: bold;
            }
        }
    }

    .news-item {
        border: 1px solid lighten($color-grey, 20%);
        margin-bottom: 30px;
        > div {
            width: 90%;
            margin: auto;
        }
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 13px;
        color: darken($color-grey, 20%);
    }

    @each $class, $color in $icon-colors {
        .#{$class} {
            .button {
                @include btn($color-white, map-get($icon-colors, $class));
            }
            h3 {
                color: map-get($icon-colors, $class);
            }
        }
    }

    a:hover {
        text-decoration: none;
    }

}