// ==========================================================================
// Global Config
// ==========================================================================

// Breakpoints
$brkpoint-sm    : 768px;
$brkpoint-md    : 992px;
$brkpoint-lg    : 1260px;

// Colors
$color-white: #FFFFFF;
$color-tuna: #333645;
$color-alto: #DDDDDD;

$color-header-bg: $color-white;
$color-nav-bg: $color-tuna;
$color-carousel-bg: $color-tuna; //unknwon-concealed;
$color-services-bg: $color-white;
$color-testimonials-bg: $color-tuna;
$color-news-bg: $color-white;
$color-email-bg: $color-alto;
$color-footer-bg: $color-tuna;

$color-software--light: #67809F;
$color-software--dark: #526781;
$color-support--light: #4183D7;
$color-support--dark: #286ABD;
$color-marketing--light: #2ECC71;
$color-marketing--dark: #25A25A;
$color-services--light: #D64541;
$color-services--dark: #BC2C28;
$color-design--light: #926FB1;
$color-design--dark: #79539A;
$color-security--light: #F62459;
$color-security--dark: #DE093F;
$color-course--light: #CE4125;
$color-course--dark: #A3331D;

$color-facebook: #3b5998;
$color-twitter: #00ACED;
$color-instagram: #D93175;
$color-linkedin: #0077B5;
