// ==========================================================================
// Global Config
// ==========================================================================


// Breakpoints
$brkpoint-sm    : 768px;
$brkpoint-md    : 992px;
$brkpoint-lg    : 1260px;