// ==========================================================================
// Carousel Layout
// ==========================================================================

.carousel {
    height: 550px;


    background-color: $color-carousel-bg;
    background-image: url(http://placeimg.com/640/480/tech);
    background-size: cover;

    color: $color-white;

    text-align: center;

    .flex-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
        background-color: $color-bespoke-software--light;
    }

    @media (min-width: $brkpoint-md) {
        //text turns left-aligned here.
    }
    @media (min-width: $brkpoint-lg) {

    }

}