

footer {
    background-color: $color-footer-bg;
    color: white;
    ul {
        padding: 0;
        li{
            text-align: left;
            list-style-type: none; 
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .flex-container {
    
        padding-left: 15px;
        padding-right: 15px;
        max-width: $brkpoint-lg;
    
        margin-left: auto;
        margin-right: auto;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    
    }
    .flex-both {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        @media (max-width: $brkpoint-sm) {
            flex-wrap: wrap;
        }
    }
    .flex-item {
        width: 225px;
        
    }
    
}