// ==========================================================================
// Footer Layout
// ==========================================================================

footer {
    background-color: $color-footer-bg;
    color: white;
    h4 {
        text-transform: uppercase;
    }
    ul {
        li{
            text-align: left;
            list-style-type: none; 
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        @media (min-width: $breakpoint-lg) {
            justify-content: space-between;
        }
    }
    .flex-both {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .flex-item {
        width: 225px;
    }
    .bottom {
        display: flex;
        margin-bottom: 0;
        padding-bottom: 2em;
        justify-content: space-between;
    }
    
}