

footer {
    background-color: $color-footer-bg;
    color: white;
    h4 {
        text-transform: uppercase;
    }
    ul {
        padding: 0;
        li{
            text-align: left;
            list-style-type: none; 
        }
    }
    a {
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        @media (min-width: $brkpoint-sm) {
            max-width: $brkpoint-sm;
        }
        @media (min-width: $brkpoint-md) {
            max-width: $brkpoint-md;
        }
        @media (min-width: $brkpoint-lg) {
            max-width: $brkpoint-lg;
        }
    }
    .flex-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    
    }
    .flex-both {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        @media (max-width: $brkpoint-sm) {
            flex-wrap: wrap;
        }
    }
    .flex-item {
        width: 225px;
    }
    .bottom {
        display: flex;
        margin-bottom: 0;
        padding-bottom: 2em;
        justify-content: space-between;
    }
    
}