// ==========================================================================
// Header Layout
// ==========================================================================

.header {
    background-color: $color-header-bg;
    color: $color-tuna;

    text-align: right;

    img {
        float: left;
    }
    input {
        width: 100%;
    }
}