// ==========================================================================
// Nav Layout
// ==========================================================================

.nav {
    display: none;
    @media (min-width: $brkpoint-md) {
        display: block;
        background-color: $color-nav-bg;
        color: $color-white;
    }
}