// ==========================================================================
// Nav Layout
// ==========================================================================

nav {
    display: none;
    background-color: $color-nav-bg;
    color: $color-white;

    @media (min-width: $brkpoint-md) {
        display: block;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        margin: 0;
    }

    i {
        padding-bottom: 10px;
        font-size: 1.2em;
    }

    .bespoke-software {
        color: $color-bespoke-software--light;
    }
    .it-support {
        color: $color-it-support--light;
    }
    .digital-marketing {
        color: $color-digital-marketing--light;
    }
    .telecoms-services {
        color: $color-telecoms-services--light;
    }
    .web-design {
        color: $color-web-design--light;
    }
    .cyber-security {
        color: $color-cyber-security--light;
    }
    .developer-course {
        color: $color-developer-course--light;
    }


    li {
        text-align: center;
        list-style-type: none;
        ul {
            text-transform: uppercase;
            :first-child {
                font-size: 0.8em;
            }
            :last-child {
                font-size: 1.2em;
            }
        }
    }


}