// ==========================================================================
// Services Layout
// ==========================================================================

.services {
    background-color: $color-services-bg;
    color: $color-tuna;

    .flex-container1 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 30px;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
        }
    }
    .flex-item1 {
        flex-grow: 1;
        border: 1px solid black;
    }

    .flex-container2 {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        gap: 30px;
        @media (min-width: $breakpoint-sm) {
            flex-direction: row;
        }
    }
    .flex-item2 {
        border: 1px solid black;
        @media (min-width: $breakpoint-sm) {
            width: 345px;
        }
        @media (min-width: $breakpoint-md) {
            width: 455px;
        }
        @media (min-width: $breakpoint-lg) {
            width: 270px;
        }
    }
    

    ul {
        li{
            text-align: center;
            list-style-type: none; 
        }
    }
}