// ==========================================================================
// Services Layout
// ==========================================================================

.services {
    background-color: $color-services-bg;
    color: $color-tuna;

    .flex-container1 {
        display: flex;
        flex-flow: column wrap;
        @media (min-width: $breakpoint-md) {
            flex-direction: row;
        }
    }
    .flex-item1 {
        flex: 1 0;
        @media (min-width: $breakpoint-md) {
        }
        @media (min-width: $breakpoint-lg) {
            min-width: 25%;
        }
    }

    .flex-container2 {
        display: flex;
        flex-flow: column wrap;
        @media (min-width: $breakpoint-sm) {
            flex-direction: row;
        }
    }
    .flex-item2 {
        flex: 1 0;
        @media (min-width: $breakpoint-sm) {
            min-width: 40%;
        }
        @media (min-width: $breakpoint-md) {
        }
        @media (min-width: $breakpoint-lg) {
            min-width: 20%;
        }
    }
    

    ul {
        li{
            text-align: center;
            list-style-type: none; 
        }
    }
}