// ==========================================================================
// Base Styles
// ==========================================================================

footer {
    max-width: $brkpoint-lg;
}

.flex-container {
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}

.flex-both {
    //border: 1px solid black;
    //flex-grow: 1;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    @media (max-width: $brkpoint-sm) {
        flex-wrap: wrap;
    }
}

.flex-item {
    // border: 1px solid black;
    //flex-grow: 1;
    width: 225px;
    
}


footer ul {
    padding-left: 0;
}

footer ul li{
    text-align: left;
    list-style-type: none; 
}