// ==========================================================================
// Base Styles
// ==========================================================================
* {
    box-sizing: border-box;
}

.wrapper {
    padding: 15px;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm) {
        max-width: $breakpoint-sm;
    }
    @media (min-width: $breakpoint-md) {
        max-width: $breakpoint-md;
    }
    @media (min-width: $breakpoint-lg) {
        max-width: $breakpoint-lg;
    }
}

ul {
    padding: 0;
}