// ==========================================================================
// Mixins
// ==========================================================================




@mixin btn($color, $background-color, $font-size: 1.0625em, $padding1: 5px, $padding2: 15px, $hover: false) {   // $font-size: 17px
    display: inline-block;
    font-size: $font-size;
    padding: $padding1 $padding2;
    border: 0;
    line-height: 35px;
    color: $color;
    background-color: $background-color;
    border-radius: 3px;
    text-transform: uppercase;
    &:active {
        box-shadow: inset 2px 4px 4px 0px rgba(black, 0.1);
    }
    @if $hover {
        &:hover, &:focus {
            background-color: darken($background-color, 10%);
            text-decoration: none;
        }
    }
}

@mixin icon($service, $font-size) {     // used for the 7 different icons on nav and services
    &::before {
        font-size: $font-size;
        color: map-get($service-colors, $service);
        content: map-get($service-icons, $service);     // mimic the way fontawesome classes inject codes into the ::before content
    }
}

@mixin h1-viewall() {   // used in services and news
    h1 {
        margin: 0;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            float: left;                                // Float the header left
        }
    }
    .viewall {
        text-align: center;
        font-weight: bold;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            text-align: right;                          // Align the view-all button to the right
        }
    }
}

@mixin section($section) {   // used in every section
    @if ($section != 'nav') {   // exclude nav as it needs to overflow its section to function properly
        overflow: hidden;   // prevent content from going past the edges of each section on narrow screens
    }
    background-color: map-get($background-colors, $section);
    color: map-get($section-colors, $section);
}