// ==========================================================================
// Global Config
// ==========================================================================

// Breakpoints
$breakpoint-sm    : 768px;
$breakpoint-md    : 992px;
$breakpoint-lg    : 1260px;
// Margins
$wrapper-sm       : $breakpoint-sm - 18px;
$wrapper-md       : $breakpoint-md - 22px;
$wrapper-lg       : $breakpoint-lg - 60px;


// Colors
$color-white: #FFFFFF;
$color-tuna: #333645;
$color-alto: #DDDDDD;
$color-grey: #999AA2;
$color-star: #FFA500;
$color-chestnut-rose: #D24D57;
$color-viking: #5BC0DE;

$color-header-bg: $color-white;
$color-nav-bg: $color-tuna;
$color-carousel-bg: $color-tuna; //unknown-concealed;
$color-services-bg: $color-white;
$color-testimonials-bg: $color-tuna;
$color-news-bg: $color-white;
$color-email-bg: $color-alto;
$color-footer-bg: $color-tuna;


$color-bespoke-software: #67809F;
$color-it-support: #4183D7;
$color-digital-marketing: #2ECC71;
$color-telecoms-services: #D64541;
$color-web-design: #926FB1;
$color-cyber-security: #F62459;
$color-developer-course: #CE4125;

$color-facebook: #3b5998;
$color-twitter: #00ACED;
$color-instagram: #D93175;
$color-linkedin: #0077B5;

$social-colors: (
    'facebook': $color-facebook,
    'twitter': $color-twitter,
    'instagram': $color-instagram,
    'linkedin': $color-linkedin,
);

$service-icons: (
    'bespoke-software': "\f58e",    //fa-grip-vertical,
    'it-support': "\e163",          //fa-display, 
    'digital-marketing': "\f201",   //fa-chart-line,
    'telecoms-services': "\f2a0",   //fa-phone-volume,
    'web-design': "\f121",          //fa-code,
    'cyber-security': "\f3ed",      //fa-shield-halved,
    'developer-course': "\f19d",    //fa-graduation-cap,
);
$service-colors: (
    'bespoke-software': $color-bespoke-software,
    'it-support': $color-it-support, 
    'digital-marketing': $color-digital-marketing,
    'telecoms-services': $color-telecoms-services,
    'web-design': $color-web-design,
    'cyber-security': $color-cyber-security,
    'developer-course': $color-developer-course,
)