// ==========================================================================
// Global Config
// ==========================================================================

// Breakpoints  // Used with media queries to control layout
$breakpoint-sm    : 768px;
$breakpoint-md    : 992px;
$breakpoint-lg    : 1260px;
// Margins      // Used with wrapper to keep content within bounds
$wrapper-sm       : $breakpoint-sm - 18px;      
$wrapper-md       : $breakpoint-md - 22px;
$wrapper-lg       : $breakpoint-lg - 60px;


// Colors
$color-white: #FFFFFF;
$color-tuna: #333645;
$color-alto: #DDDDDD;
$color-grey: #999AA2;
$color-star: #FFA500;
$color-chestnut-rose: #D24D57;
$color-viking: #5BC0DE;
$color-hoki: #67809F;
$color-havelock-blue: #4183D7;
$color-shamrock: #2ECC71;
$color-valencia: #D64541;
$color-wisteria: #926FB1;
$color-radical-red: #F62459;
$color-punch: #CE4125;
$color-chambray: #3B5998;
$color-cerulean: #00ACED;
$color-deep-cerulean: #0077B5;
$color-cerise: #D93175;

// Maps
$background-colors: (
    'header':       $color-white,
    'nav':          $color-tuna,
    'carousel':     $color-tuna, // unknown as its concealed
    'services':     $color-white,
    'testimonials': $color-tuna,
    'news':         $color-white,
    'email':        $color-alto,
    'footer':       $color-tuna,
);

$social-colors: (
    'facebook':     $color-chambray,
    'twitter':      $color-cerulean,
    'instagram':    $color-cerise,
    'linkedin':     $color-deep-cerulean,
);

$service-colors: (
    'bespoke-software':     $color-hoki,
    'it-support':           $color-havelock-blue, 
    'digital-marketing':    $color-shamrock,
    'telecoms-services':    $color-valencia,
    'web-design':           $color-wisteria,
    'cyber-security':       $color-radical-red,
    'developer-course':     $color-punch,
);

$service-icons: (
    'bespoke-software':     "\f58e",    // fa-grip-vertical
    'it-support':           "\e163",    // fa-display
    'digital-marketing':    "\f201",    // fa-chart-line
    'telecoms-services':    "\f2a0",    // fa-phone-volume
    'web-design':           "\f121",    // fa-code
    'cyber-security':       "\f3ed",    // fa-shield-halved
    'developer-course':     "\f19d",    // fa-graduation-cap
);