// ==========================================================================
// Mixins
// ==========================================================================




@mixin btn($color, $background-color, $font-size: 17px, $padding1: 5px, $padding2: 15px) {
    display: inline-block;
    font-size: $font-size;
    padding: $padding1 $padding2;
    border: 0;
    line-height: 35px;
    color: $color;
    background-color: $background-color;
    border-radius: 3px;
    text-transform: uppercase;
}

@mixin btn-hover($background-color) {
    &:hover {
        background-color: darken($background-color, 10%);
        text-decoration: none;
    }
}