// ==========================================================================
// Mixins
// ==========================================================================




@mixin btn($color, $background-color, $font-size: 17px, $padding1: 5px, $padding2: 15px, $hover: false) {
    display: inline-block;
    font-size: $font-size;
    padding: $padding1 $padding2;
    border: 0;
    line-height: 35px;
    color: $color;
    background-color: $background-color;
    border-radius: 3px;
    text-transform: uppercase;
    border: $hover;
    @if $hover {
        &:hover, &:focus {
            background-color: darken($background-color, 10%);
            text-decoration: none;
        }
    }
}

@mixin icon($service) {
    &::before {
        color: map-get($service-colors, $service);
        content: map-get($service-icons, $service);
    }
}

@mixin h1-viewall() {
    h1 {
        margin: 0;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            float: left;                                // Float the header left
        }
    }
    .viewall {
        text-align: center;
        @media (min-width: $breakpoint-sm) {        // At screen width 768+
            text-align: right;                          // Align the view-all button to the right
        }
    }
}
